body {
  background-image: url("../slike/cyan.jpg");
  animation: slika_animacija 1000s linear infinite alternate;
  background-color: #043633;
  color: #1feb3f;
  text-align: center;
  font-size: 23px;
  /*much better than viewport units on smaller screens*/
  font-family: verdana montserrat;
}

.body {
  text-align: left;
  animation-duration: 1500s;
}

.body ul, p {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #043633;
  border-style: ridge;
  line-height: 35px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#projects_body {
  animation-duration: 1000s;
}

#riddle_body {
  text-align: center;
}

/* ::-moz-selection {
color: yellow;
background: red;
} */
::selection {
  color: purple;
  background: black;
}

#index_spine {
  display: grid;
  grid-template-columns: auto 45% 35%;
}

#index_spine li {
  list-style-type: none;
}

#index_spine>ul {
  display: grid;
  grid-template-rows: 10% 18% auto;
}

#index_spine>ul p {
  border-style: ridge;
  background-color: #043633;
  line-height: 28px;
  padding: 1vh;
}

h1 {
  text-align: center;
  margin-top: 5px;
  color: orange;
  border-bottom-style: double;
  border-top-style: double;
  padding: 12px;
  background-color: black;
}

h2, h3, h4 {
  background-color: #043633;
  text-align: center;
  border-style: outset;
  color: #10ffd1;
  font-size: 32px;
  padding: 5px;
}

a:link {
  font-size: 23px;
  color: #10ebe9;
}

a:visited {
  color: #e6f11b;
}

a:hover {
  color: #882fa7;
}

a:active {
  color: #1414e9;
}

@keyframes meni_animacija {
  0% {
    transform: translate(-200px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes slika_animacija {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 50000px;
  }
}

.index_navbar_div {
  display: grid;
  grid-template-rows: 32% auto 5%;
}

.left_navbar {
  margin-left: -50px;
  grid-row: 2;
  background-color: black;
  display: grid;
  animation-name: meni_animacija;
  animation-duration: 4s;
  text-align: center;
  /* border-bottom-style: double;
  border-top-style: double;
  border-color: orange; */
}

.left_navbar a {
  display: block;
  color: orange;
  padding: 50px;
  font-weight: bold;
  text-decoration: none;
  border-right-style: double;
  font-size: 24px;
}

.left_navbar a:hover {
  background-color: #321111;
  color: orange;
  text-decoration: overline;
}

.left_navbar a:active {
  text-decoration: underline overline;
}

.top_navbar {
  margin-left: -50px;
  animation-name: meni_animacija;
  animation-duration: 5s;
  text-align: center;
}

.top_navbar a {
  background-color: black;
  display: inline;
  color: orange;
  padding: 25px;
  font-weight: bold;
  text-decoration: none;
  border-style: double;
}

.top_navbar a:hover {
  background-color: #321111;
  color: orange;
  text-decoration: overline;
}

.top_navbar a:active {
  text-decoration: underline overline;
}

#index_portrait {
  border-radius: 50%;
  width: 100%;
  margin-top: 150px;
  border-style: groove;
  border-color: orange;
}

#index_info {
  margin-left: 0px;
  color: #e6f11b;
  background-color: black;
  border-color: orange;
  line-height: normal;
}

#riddle_submit {
  font-family: Verdana;
  font-size: 26px;
  color: orange;
  background-color: black;
  width: 20%;
  padding: 14px;
  border-color: orange;
  border-style: double;
}

#riddle_submit:active {
  font-weight: bold;
}

#riddle_submit:hover {
  background-color: #321111;
}

#riddle_knight {
  width: 100%;
  border-style: outset;
  border-color: #443322;
}

@media screen and (max-width: 2000px) {
  #index_spine {
    display: initial;
  }

  #index_info {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .top_navbar {
    margin-left: 0px;
  }
}