body {
  background-image: url("../slike/cyan.jpg");
  /* background-size: auto; */
  /* background-size: 100% 100%; */
  /* background-repeat: repeat-y; */
  animation: slika_animacija 1000s linear infinite alternate;
  background-color: #043633;
  color: #1feb3f;
  text-align: center;
  font-size: 23px;
  /*much better than viewport units on smaller screens*/
  font-family: verdana montserrat;
}

/* ::-moz-selection {
color: yellow;
background: red;
} */
::selection {
  color: purple;
  background: black;
}

.body {
  /* display:grid;
  grid-template-columns: 20% auto; */
  text-align: left;
  /* animation: slika_animacija 1500s linear infinite alternate; */
  animation-duration: 1500s;
}

.body ul, p {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #043633;
  border-style: ridge;
  line-height: 35px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

/* .body ul{

border-style: outset;
background-color: #043633;
} */
/*#cv ul,p,h1,h3{
grid-column: 2;
} */
#projects {
  animation-duration: 1000s;
}

#riddles {
  text-align: center;
}

#naslov {
  display: grid;
  grid-template-columns: auto 45% 35%;
}

#naslov li {
  list-style-type: none;
}

#naslov>ul {
  /* background-color: #043633; */
  display: grid;
  grid-template-rows: 10% 18% auto;
}

#naslov>ul p {
  border-style: ridge;
  /* border-color: red; */
  background-color: #043633;
  line-height: 28px;
  padding: 1vh;
}

h1 {
  text-align: center;
  margin-top: 5px;
  color: orange;
  border-bottom-style: double;
  border-top-style: double;
  padding: 12px;
  background-color: black;
}

h2, h3, h4 {
  background-color: #043633;
  text-align: center;
  border-style: outset;
  color: #10ffd1;
  font-size: 32px;
  padding: 5px;
}

.nav {
  display: grid;
  grid-template-rows: 27% auto 27%;
}

a:link {
  font-size: 23px;
  color: #10ebe9;
}

a:visited {
  color: #e6f11b;
}

a:hover {
  color: #882fa7;
}

a:active {
  color: #1414e9;
}

img {
  border-radius: 50%;
  width: 100%;
  margin-top: 150px;
  border-style: groove;
}

@keyframes meni_animacija {
  0% {
    transform: translate(-200px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes slika_animacija {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 50000px;
    /*10000%;*/
  }
}

.navbar {
  margin-left: -50px;
  grid-row: 2;
  background-color: black;
  display: grid;
  animation-name: meni_animacija;
  animation-duration: 4s;
  /* align-items: center; */
  text-align: center;
}

.navbar a {
  display: block;
  /* height: auto; */
  color: orange;
  padding: 50px;
  font-weight: bold;
  text-decoration: none;
  border-right-style: double;
}

.navbar a:hover {
  background-color: #321111;
  color: orange;
  /* font-size: 28px; */
  text-decoration: underline;
}

.navbar a:active {
  text-decoration: underline overline;
}

.foo {
  margin-left: -50px;
  /* grid-row: 2; */
  /* background-color: black; */
  /* display: grid; */
  animation-name: meni_animacija;
  animation-duration: 5s;
  /* align-items: center; */
  text-align: center;
}

.foo a {
  background-color: black;
  display: inline;
  /* height: auto; */
  color: orange;
  padding: 25px;
  font-weight: bold;
  text-decoration: none;
  border-style: double;
}

.foo a:hover {
  background-color: #321111;
  color: orange;
  text-decoration: underline;
}

.foo a:active {
  text-decoration: underline overline;
}

#submit {
  font-family: Verdana;
  font-size: 26px;
  color: orange;
  background-color: black;
  width: 20%;
  padding: 14px;
  border-color: orange;
  border-style: inset;
}

#submit:active {
  font-weight: bold;
}